{% extends "base.html" %}


{% block content %}

<h2>{{task.title}}</h2>
<h3>{{task.user}}</h3>

{% if task.due_date %}
    <p>{{task.due_date}}</p>
{% else %}
    <p>no due date is set</p>
{% endif %}

<a class="btn btn-warning" href="{% url 'task-update' task.id %}" >Update</a>  
<a class="btn btn-danger" href="{% url 'task-delete' task.id %}" >Delete</a>  

<hr>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" value="Send" class="btn btn-success">
</form>

{% for comment in task.comments.all %}
    <div class="card my-card">
        {% if comment.comment_pic %}
            <img class="card-image-top" src="{{comment.comment_pic.url}}" alt="{{comment.comment_pic}}" 
            height="350px" width="350px"
            >
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                {{comment.user}}
            </h5>
            <p class="card-text">
                {{comment.content}}
            </p>  
            <span class="date-right">
                -{{comment.created_at}}
            </span>
            <br>
            <a class="btn btn-warning" href="{% url 'comment-update' comment.id %}"> Update  </a>
        </div>
    </div>
{% endfor %}




{% endblock content %}