{% extends "base.html" %}


{% block content %}

<div>{{task.title}}</div>
<div>{{task.user}}</div>
<div>{{task.due_date}}</div>

<a href="{% url 'task-update' task.id %}" ><button>Update</button></a>  
<a href="{% url 'task-delete' task.id %}" ><button>Delete</button></a>  

<hr>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="Send">
</form>

{% for comment in task.comments.all %}
    <p>
        {{comment.user}}
    </p>
    <p>
        {{comment.content}}
    </p>
        {% if comment.comment_pic %}
         <img src="{{comment.comment_pic.url}}" alt="{{comment.comment_pic}}">
        {% endif %}
    <p>
        {{comment.created_at}}
    </p>
    <a href="{% url 'comment-update' comment.id %}"> <button>Update</button>  </a>
{% endfor %}




{% endblock content %}